@model BanSachWeb.ViewModels.BookReviewDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-thumbnail" src="@Url.Content("~/Content/Image/" + Model.Book.AnhSach)" alt="Product Image" />
        </div>
        <div class="col-md-6">
            <h1>@Model.Book.TenSach</h1>
            <p>Giá: @Model.Book.GiaBan VNĐ</p>
            <p>Trung bình đánh giá: @Model.AverageRating</p>
            <div>
                @for (int i = 1; i <= 5; i++)
                {
                    <span class="fa fa-star @(i <= Model.AverageRating ? "checked" : "")"></span>
                }
            </div>
            <h3>Đánh giá và nhận xét</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Người dùng</th>
                        <th>Đánh giá</th>
                        <th>Nhận xét</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model.Reviews)
                    {
                        <tr>
                            <td>@review.Username</td>
                            <td>
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <span class="fa fa-star @(i <= review.Rating ? "checked" : "")"></span>
                                }
                            </td>
                            <td>@review.Comment</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Viết nhận xét của bạn</h3>
            @using (Html.BeginForm("RateBook", "Sach", FormMethod.Post, new { @id = "reviewForm" }))
            {
                @Html.Hidden("bookId", Model.Book.MaSach)
                <div class="form-group">
                    <label for="rating">Đánh giá:</label>
                    <input type="number" id="rating" name="rating" class="form-control" min="1" max="5" />
                </div>
                <div class="form-group">
                    <label for="comment">Nhận xét:</label>
                    <textarea id="comment" name="comment" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary sendCmtRatebtn">Gửi nhận xét</button>
            }
        </div>
    </div>
</div>

<style>
    .checked {
        color: orange;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sendCmtRatebtn').click(function (event) {
            event.preventDefault(); // Prevent default form submission
            var form = $(this).closest('form');
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: formData,
                success: function (response) {
                    if (response.success) {
                        alert('Gửi nhận xét, đánh giá thành công!');
                        location.reload(); // Reload the page to show the new review
                    } else {
                        if (response.notLoggedIn) {

                            alert('Vui lòng đăng nhập.');

                            // Optionally, redirect to the login page
                            window.location.href = '/Account/Login';

                        } else {
                            alert('Gửi nhận xét, đánh giá thất bại.');
                        }
                    
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra. Vui lòng thử lại.');
                }
            });
        });
    });
</script>
