
@model BanSachWeb.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Đăng Ký";
}

<h2 style="text-align:center">Đăng Ký</h2>
@if (ViewBag.err != null)
{
    <div class="alert alert-danger">
        @ViewBag.err
    </div>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-control w-50 mx-auto mb-3">
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.TenDangNhap, "Tên Đăng Nhập")
            @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TenDangNhap, "", new { @class = "text-danger col-md-4" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.MatKhau, "Mật Khẩu")
            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.HoTen, "Họ Tên")
            @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HoTen, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.SoDienThoai, "Số Điện Thoại")
            @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SoDienThoai, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3 text-center">
            <button type="submit" class="btn btn-primary me-5">Đăng Ký</button>
            <button type="button" class="btn btn-secondary ms-5" id="cancelButton">Hủy bỏ</button>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">
    document.getElementById("cancelButton").onclick = function () {
        window.location.href = '@Url.Action("MainContent", "Home")';
    };
</script>